.body{
    margin: 0%;
}

.navbar{
    position: fixed;
    top: 0px;
    width: 100%;
    
    align-items: center;

    background: #F5F5F3;
    opacity: 0.9;
}

body{
    min-height: 100vh;
    justify-content: center;
    align-items: center;
}

main{
    margin-top: 150px;
}

.logo{
    position: relative;
    width: 218px;
    left: 30px 0;
    top: 30px 0;
    transform: translateX(25px);
    
}

.menu-icon{
    cursor: pointer;
    float: right;
    margin-right: 40px;
    margin-top: 33px;
    
}
header{
    width: 100%;
    max-width: 500px;
    min-width: 375px;
}
.container{
    width: 100%;
    max-width: 500px;
    min-width: 375px;
    /*margin-top: 150px;*/
}


h1{
    
    font-family: 'ivymode', sans-serif;
    
    margin-left: 26px;
    top: 164px;
    width: 315px;
    font-style: normal;
    font-weight: 300;
    font-size: 48px;
    line-height: 60px;
    /* or 125% */

    align-items: flex-end;
    letter-spacing: 0.05em;

    color: #000000;
    /*transform: translateY(-150px);*/
}

h2{
    font-family: 'ivymode', sans-serif;

    margin-left: 26px;

    
    font-style: italic;
    font-weight: 300;
    font-size: 36px;
    line-height: 150%;

    
    align-items: center;
    letter-spacing: 0.05em;

    color: #000000;
}
p{
    font-family: 'Acumin-pro-wide', sans-serif;
    font-weight: 300;
    font-style: normal;
    
    font-size: 16px;
    line-height: 125%;
    /* or 27px */


    /* Dark 2 */

    color: #555555;
}

#para1{
    width: 251px;
    height: 54px;
    margin-left: 30px;
    margin-top: 39px;
}

#meat{
    
width: 100%;
    
background-image: url('image/bg.png');
background-repeat: no-repeat;  
background-size: 100%;
}

#para2{
    margin-left: 30px;
    width: 303px;
    margin-bottom: 0%;
}

#meat2{
    width: 100%;
    margin-left: 0%;
    margin-right: 0%;
    margin-top: 28px;
}

#para3{
    padding-left: 30px;
    width: 329px;
    margin-top: 53px;
}

#meat3{
    align-items: center;
    width: 100%;
    padding-top: 56px;
    padding-bottom: 40px;
    background-image: url('image/bgblue.png');
    background-repeat: no-repeat;
    background-size: 80%;
    background-position-y: 20px;
    background-position-x: 140px;
}

#para4{
    padding-left: 27px;
    width: 339px;
    height: 94px;
}

#salmoncream{
    margin-left: 0%;
    width: 80% ;

    margin-top: 36px;
    margin-bottom: 36px;
    background-image: url('image/bg.png');
    background-repeat: no-repeat;  
    background-size: 100%;
    background-position-y: -20px;
    background-position-x: 20px;
}

#letus{
    /*width: 299px;
    height: 27px;*/
    text-align: center;
    margin-top: 28px;
    margin-bottom: 28px;
}

.container-foot{
    width: 100%;
    height: 116px;
    margin-bottom: 0%;
}

#contactbut{
    display: block;
    margin-left: auto;
    margin-right: auto;
}
#footer{
    text-align: center;
    margin-top: 70px;
    margin-bottom: 40px;
    /*width: 322px;
    height: 15px;*/
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14.9984px;
    line-height: 100%;
    /* identical to box height, or 15px */


    /* Dark 4 */

    color: #999999;

}

